<header class="header_main">
    <div class="banner">
        <!-- <img src="/iue-app/src/assets/iueHeader.svg" alt="iue_logo" id="iue">
        <img src="/iue-app/src/assets/unalWhite.svg" alt="unal_logo" id="unal"> -->
    </div>
</header>
<main class="main_content">
    <div class="menu_container">
        <button [hidden]="!role" class="btn_style" type="submit" routerLink="/training"> Entrenamiento </button>
        <button class="btn_style" type="submit" routerLink="/predictions"> Ingreso datos nuevos </button>
        <button class="btn_style"> Estadisticos </button>
    </div>
</main>